__pycache__/
.env/
.pytest_cache/
.vscode
*.pyc
modules/
gpkgs/
/.etconf/
/todo.txt
.directory
/nargs-dump.json
/nargs-dump.pickle
/nargs-cache.json
/nargs-cache.pickle
/.nargs-user.json
/.nargs-user.yaml